@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,700;1,900&display=swap');
body{
 font-family: 'Poppins', sans-serif;
 margin: 0;
 padding: 0;
 font-weight: bolder;
}
.header{
	width: 100%;
	margin: auto;
	padding: 10px 0px;
    display: inline-block;
}
.logo{
	float: left;
	text-align: left;
    position: relative;
    top: 10px;
    padding-bottom: 0px;
    margin-top: 0px;
}

.ul{
	list-style: none;
	display: inline-block;
	float: right;
	text-align: right;
	font-size: 35px;
	color: #FFFF00;
    margin: 0px;
    padding: 0px;
}
.ul li{
	display: inline-block;
	
}
.ul li:nth-child(1){
    position: relative;
    top: 3px;
    padding-bottom: 0px;
    margin-top: 0px;
	margin-right:20px;
}
.ul li:nth-child(2){

	margin-right: 10px;
}
.button{
	background-color: #12234F;	
	font-size: 16px;
	line-height: 24px;
	border-radius: 10px;
	
}