@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,700;1,900&display=swap');
body{
 font-family: 'Poppins', sans-serif;
 margin: 0;
 padding: 0;
 font-weight: bolder;
}
.header{
	width: 100%;
	margin: auto;
	padding: 10px 0px;
    display: inline-block;
}
.logo{
	float: left;
	text-align: left;
    position: relative;
    top: 10px;
    padding-bottom: 0px;
    margin-top: 0px;
}

.ul{
	list-style: none;
	display: inline-block;
	float: right;
	text-align: right;
	font-size: 35px;
	color: #FFFF00;
    margin: 0px;
    padding: 0px;
}
.ul li{
	display: inline-block;
	
}
.ul li:nth-child(1){
    position: relative;
    top: 3px;
    padding-bottom: 0px;
    margin-top: 0px;
	margin-right:20px;
}
.ul li:nth-child(2){

	margin-right: 10px;
}
.middle {
	font-weight: 600;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    text-align: left;
    font-size: 55px;
    line-height: 70px;

}
.p{
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	color: #555555;
    line-height: 30px;
    margin: 0px;
   
}
.u{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.images{
	width: 100%;
	overflow: hidden;
	height: 550px;
}

.button{
	background-color: #12234F;
	
	font-size: 16px;
	line-height: 24px;
	border-radius: 10px;
	
}
.sec1{
	background-color: #FAFAFA;
}
.mt{
	margin-top: 90px;
	
}
.text{
	font-size: 26px;
	font-weight: 500;
	line-height: 39px;
	margin-top: 20px;
	
}
.p ul li::before{
	content:"";
	background: url('../images/mark.png');
	position: absolute;
	width: 20px;
	height: 20px;
    background-size: 70%;
    left: 0px;
    background-repeat: no-repeat;
    top: 9px;
}
.p ul li{
	position: relative;
	padding: 0px 20px;
}
.box{
	box-sizing: border-box;
	border: 1px solid #E5E5E5;
	width: 295px;
	height: 231px;
	display: inline-block;
	margin-right: 20px;
	padding: 15px 0px;
	
	border-radius: 15px;
	margin-top: 50px;
}
.box ul li{
	list-style: none;
	margin: 15px;
	padding: 5px 0px;
}
.img{

position: absolute;
width: 563px;
height: 643px;

}
.img img{
	max-width: 100%;
}

